/* 카페24 모야모야 */
@font-face {
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 메이플 폰트 */
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: white;/*#141517*/
}

/* 네비게이션바 */
.navbar {
    background-color: #05101E;
    box-shadow: 5px 5px 5px 1px #000000; /*오른쪽 아래쪽 이동후 흐림정도, 확산정도*/
    z-index: 9999; /* 다른 요소들 위에 나타나도록 z-index 설정 */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.Li_a {
    display: block;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    margin-top: 18px;
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
    font-size: 14px;
}

.Li_logo {
    display: block;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
    font-size: 30px;
    margin: 0 15px 0 300px; /*상 우 하 좌*/
}

.navbar li a:hover {
    background-color: #ddd;
    color: black;
}



.Top-search-div {
    position: relative; /* 상대적인 위치 설정 */
    height: 400px;
    width: 100%;
    background-color: #05101E;
}

/* 검색 */

.search {
    position: absolute; /* 절대적인 위치 설정 */
    top: 100px;
    left: 820px;
    margin: 0; /* 이동 중에 마진이 추가되는 것을 방지하기 위해 */
    width: 300px;
}

.search-input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

.search-img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}

/* 데이터 카운트 */


.data-count {
    position: absolute; /* 절대적인 위치 설정 */
    width: 100%;
    height: 100px;
    top: 160px;
}


.data-first {
    position: absolute; /* 절대적인 위치 설정 */
    width: 160px;
    height: 60px;
    left: 600px;
    top: 25px;
    color: white;
    text-align: center;
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
}

.data-second {
    position: absolute; /* 절대적인 위치 설정 */
    width: 160px;
    height: 60px;
    left: 900px;
    top: 25px;
    color: white;
    text-align: center;
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
}

.data-third {
    position: absolute; /* 절대적인 위치 설정 */
    width: 160px;
    height: 60px;
    left: 1200px;
    top: 25px;
    color: white;
    text-align: center;
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
}

/*캔버스*/
.canvas-count {
    width: 100%;
    height: 100px;
    top: 260px;
}

.div-canv-fir {
    position: absolute; /* 절대적인 위치 설정 */
    width: 200px; /* .canvas-first와 같은 너비로 설정 */
    height: 100px; /* .canvas-first와 같은 높이로 설정 */
    top: 260px;
    left: 580px; /* .canvas-first와 같은 위치로 설정 */
}

.canvas-first {

    width: 100%; /* 부모 요소인 .canvas-count에 맞게 가득 채우도록 설정 */
    height: 100%; /* 부모 요소인 .canvas-count에 맞게 가득 채우도록 설정 */

    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
}


.div-canv-sec {
    position: absolute; /* 절대적인 위치 설정 */
    width: 200px; /* .canvas-first와 같은 너비로 설정 */
    height: 100px; /* .canvas-first와 같은 높이로 설정 */
    top: 260px;
    left: 880px; /* .canvas-first와 같은 위치로 설정 */
}

.canvas-second {

    width: 100%; /* 부모 요소인 .canvas-count에 맞게 가득 채우도록 설정 */
    height: 100%; /* 부모 요소인 .canvas-count에 맞게 가득 채우도록 설정 */

    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
}


.div-canv-thir {
    position: absolute; /* 절대적인 위치 설정 */
    width: 200px; /* .canvas-first와 같은 너비로 설정 */
    height: 100px; /* .canvas-first와 같은 높이로 설정 */
    top: 260px;
    left: 1180px; /* .canvas-first와 같은 위치로 설정 */

}

.canvas-third {

    width: 100%; /* 부모 요소인 .canvas-count에 맞게 가득 채우도록 설정 */
    height: 100%; /* 부모 요소인 .canvas-count에 맞게 가득 채우도록 설정 */

    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
}

/*정보 박스*/

.info-box {
    display: flex; /* 내부 요소를 가로로 배치합니다. */
    position: relative; /* 내부 요소를 위치시킬 때 필요합니다. */
    width: 1210px;
    height: 900px;
    margin: 0 auto;
}

.div-left {
    width: 590px;
    height: 800px;
    position: absolute; /* 상위 요소에 대해 상대적으로 위치시킬 수 있습니다. */
    left: 0; /* 왼쪽에 위치시킵니다. */
    top: 0; /* 상단에 위치시킵니다. */
}

.div-right {
    width: 590px;
    height: 800px;
    position: absolute; /* 상위 요소에 대해 상대적으로 위치시킬 수 있습니다. */
    right: 0; /* 오른쪽에 위치시킵니다. */
    top: 0; /* 상단에 위치시킵니다. */
}

.h3-head {
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
    color: white;
    position: absolute;
    top: 30px;
    left: 5px;
    color: #7c9ab9;
}

.small-head {
    font-family: 'Cafe24Moyamoya-Regular-v1.0', sans-serif;
    color: white;
    position: absolute;
    left: 470px;
    font-size: 14px;
    width: 100px;
    top: 15px;
    color: #B4BCC2;
}


/*왼쪽 테이블*/

.l-table {
    position: absolute;
    width: 100%; /* div 태그의 가로길이에 따라 설정합니다. */
    top: 65px;
}

table.l-table tr:hover {
    background-color: #ddd;
    color: black;
}

table.l-table td {
    border-bottom: 1px dashed #ddd; /* 회색 점선을 통해 줄 추가 */
    padding: 8px; /* 셀 내용과의 간격 조절 */
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 스타일 정의 */
    transition: 0.3s; /* 변화를 부드럽게 만들기 위한 전환 효과 */
}

.l-fir-td {
    width: 65px;
}
.l-sec-td {
    width: 370px;
}
.l-thir-td {

}

.l-thir-div-1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.l-thir-div-2 {
    width: 100%;
    text-align: center;
    color: #B4BCC2;
    font-size: 14px;
}


.l-a {
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.l-d {
    margin-left: 5px;
    margin-top: 0;
    padding-top: 0;
}












/*오른쪽 테이블*/


.r-table {
    position: absolute;
    width: 100%; /* div 태그의 가로길이에 따라 설정합니다. */
    top: 65px;
}

table.r-table tr:hover {
    background-color: #ddd;
    color: black;
}

table.r-table td {
    border-bottom: 1px dashed #ddd; /* 회색 점선을 통해 줄 추가 */
    padding: 8px; /* 셀 내용과의 간격 조절 */
    height: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* 그림자 스타일 정의 */
    transition: 0.3s; /* 변화를 부드럽게 만들기 위한 전환 효과 */
}

.r-fir-td {
    width: 65px;
}
.r-sec-td {
    width: 370px;
}
.r-thir-td {

}

.r-thir-div-1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.r-thir-div-2 {
    width: 100%;
    text-align: center;
    color: #B4BCC2;
    font-size: 14px;
}


.r-a {
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.r-d {
    margin-left: 5px;
    margin-top: 0;
    padding-top: 0;
}



/*스트리머 사진*/
.st-img {
    width: 100%; /* 이미지를 셀의 가로 크기에 맞춥니다. */
    height: auto; /* 이미지의 세로 크기를 자동으로 조절하여 가로세로 비율을 유지합니다. */
    display: block; /* 이미지를 블록 요소로 설정하여 부모 요소의 너비에 맞게 표시됩니다. */
    border-radius: 10px; /* 테두리의 둥근 정도를 지정합니다. */
}


/*클립*/
.clip-div {
    position: relative; /* 내부 요소를 위치시킬 때 필요합니다. */
    width: 1210px;
    height: 630px;
    margin: 0 auto;
    border-top: 1px solid #ddd; /* 1px 높이의 실선을 사용합니다. */
}

.line-1 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 70px;
}

.line-2 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 70px;
    left: 305px;
}

.line-3 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 70px;
    left: 610px;
}

.line-4 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 70px;
    left: 915px;
}

.line-5 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 325px;
}

.line-6 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 325px;
    left: 305px;
}

.line-7 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 325px;
    left: 610px;
}

.line-8 {
    position: absolute; /* 절대적인 위치 설정 */
    width: 295px;
    height: 225px;
    top: 325px;
    left: 915px;
}

.display-div-1 {
    width: 295px;
    height: 165px;
}

.clip-div-inline {
    display: flex; /* 내부 요소를 가로로 배치합니다. */
    height: 53px;
    width: 295px;
    margin-top: 5px;
}

.st-img-div {
    display: flex; /* 내부 요소를 가로로 배치합니다. */
    height: 53px;
    width: 53px;
}

.clip-in-div {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 방향 가운데 정렬합니다. */
}


.sp-content {
    width: 100%;
    color: #939DA5;
    font-size: 14px;
    margin-left: 10px;
}
.a-nickname {
    width: 100%;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    color: #8AA8D0;
}

.st-img-divImg {
    border-radius: 15px; /* 테두리의 둥근 정도를 지정합니다. */
    width: 100%; /* 이미지를 셀의 가로 크기에 맞춥니다. */
    height: auto; /* 이미지의 세로 크기를 자동으로 조절하여 가로세로 비율을 유지합니다. */
    display: block; /* 이미지를 블록 요소로 설정하여 부모 요소의 너비에 맞게 표시됩니다. */
}

.game-box {
    display: flex; /* 내부 요소를 가로로 배치합니다. */
    position: relative; /* 내부 요소를 위치시킬 때 필요합니다. */
    width: 1210px;
    height: 970px;
    margin: 0 auto;
    border-top: 1px solid #ddd; /* 1px 높이의 실선을 사용합니다. */
}






